# Configuración de Supabase
SUPABASE_URL=Lorem ipsum dolor si
SUPABASE_KEY=Lorem ipsum dolor si

# Opcional: Service Key para operaciones administrativas
# SUPABASE_SERVICE_KEY=tu-service-key-privada

# Configuración de CORS (separar múltiples orígenes con comas)
CORS_ORIGINS=http://localhost:3000,http://localhost:5173

# Ambiente
ENVIRONMENT=development
DEBUG=True
